<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Gallery</servlet-name>
        <servlet-class>Controller.Gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Controller.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Team</servlet-name>
        <servlet-class>Controller.Team</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Game</servlet-name>
        <servlet-class>Controller.Game</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop</servlet-name>
        <servlet-class>Controller.Shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopAdd</servlet-name>
        <servlet-class>Controller.ShopAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>Controller.Buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageShop</servlet-name>
        <servlet-class>Controller.ManageShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShop</servlet-name>
        <servlet-class>Controller.EditShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>Controller.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>Controller.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrder</servlet-name>
        <servlet-class>Controller.ManageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gallery</servlet-name>
        <url-pattern>/Gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Team</servlet-name>
        <url-pattern>/Team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/Game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop</servlet-name>
        <url-pattern>/Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopAdd</servlet-name>
        <url-pattern>/ShopAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/Buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageShop</servlet-name>
        <url-pattern>/ManageShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShop</servlet-name>
        <url-pattern>/EditShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrder</servlet-name>
        <url-pattern>/ManageOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
